<%- include('../partials/head_adocao.ejs') %>

  <body>
    <%- include('../partials/navbar2.ejs') %>
      <div class="content">
        <form action="/routerLogin" method="post">
          <h1>Projeto<br>RCA</h1>
          <p>
            Esse projeto RCA (Resgatar, Cuidar e Adotar) é uma ONG focada na adoção e serviços <br>
            destinados a animais em situação de rua. Em nossos espaços, temos cães e gatos para todos os perfis e lares.
          </p>
          <button class="btn" href="/login">Conheça os animais</button>
        </form>

      </div>
      </div>
  </body>

  </html>