<%- include('../partials/head_service.ejs') %>

    <body>
            <header>
                <div class="container-fluid">
                    <%- include('../partials/estilo.ejs') %>
                    <!-- Title -->
                    <section id="home">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>FORMAS DE AJUDAR</h2>
                            </div>
                        </div>
                    </section>

                    <!-- Features -->
                    <section id="features">
                        <div class="row">
                            <div class="features-box col-lg-4">
                                <i class="fas fa-check-circle fa-4x icon"></i>
                                <h3>APOIO</h3>
                                <p>Como apoiar o projeto</p>
                            </div>
                            <div class="features-box col-lg-4">
                                <i class="fas fa-heart fa-4x icon"></i>
                                
                                <h3>DOAÇÕES</h3>
                                <p>Doar é um gesto de amor</p>
                            </div>
                            <div class="features-box col-lg-4">
                                <i class="fas fa-bullseye fa-4x icon"></i>
                                <h3>FEEDBACKS</h3>
                                <p>A nossa melhor obra de arte é ver o amor de um pet com seu dono</p>
                            </div>
                        </div>
                    </section>


                    <!-- Testimonials -->

                    <section id="testimonials">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                
                                <div class="carousel-item active">
                                    <h2>Feedbacks</h2><br>
                                    <em>Luiza</em>
                                    <h2>Gostaríamos que existissem outras palavras além de MUITO OBRIGADA para agradecer à altura o que vocês fizeram por nós. 
                                        Não sabemos como agradecer, nada parece suficiente!</h2>
                                    <img src="img/petsAdotados/1.jpeg" width="auto" height="auto" alt="lady-profile">
                                </div>
                                <div class="carousel-item">
                                    <h2>Feedbacks</h2><br>
                                    <em>Ana</em>
                                    <h2 class="testimonial-text">MUITO, MUITO, MUITO, MUITO e todos os 'muito obrigada' que posso dizer por vocês nos proporcionarem essa alegria, 
                                        nunca fui tão feliz por adotar um pet !!
                                    </h2>
                                    <img src="img/petsAdotados/6.jpeg" width="auto" height="auto" alt="lady-profile">
                                </div>
                                <div class="carousel-item">
                                    <h2>Feedbacks</h2><br>
                                    <em>Rute</em>
                                    <h2 class="testimonial-text">O que esses bichos me ensinam é que eles não ficam preocupados com o que não têm.
                                        Eles vivem o que é e não o que não existe, eles são sensacionais, sou fã.
                                    </h2>
                                        <img src="img/petsAdotados/5.jpg" width="auto" height="auto" alt="lady-profile">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>




                    </header>